body {
    background-color: #fff;
    font-family: Poppins, sans-serif;
}

@keyframes slideOpenLeftToRight {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slideCloseRightToLeft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

.open-menu {
    animation: slideOpenLeftToRight 0.5s ease-in-out;
}

.close-menu {
    animation: slideCloseRightToLeft 0.5s ease-in-out;
}

.skills {
    transition: transform 0.4s ease-in-out;
}

.skills:hover {
    transform: scale(1.05);
}

.img-container {
    position: relative;
}

.img-container img {
    transition: transform 0.5s ease-in-out;
}

.img-container:hover img {
    transform: translateY(-10px);
    transition: transform 0.5s ease-in-out;
}

.img-container:hover {
    transition: transform 0.5s ease-in-out;
}

::-webkit-scrollbar {
    width: 7.5px;
}

::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.image-container {
    width: 33rem;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

@media only screen and (max-width: 747px) {

    .image-container {
        width: 100%;
    }
}

 .in-view {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
} 

.animated-image {
    width: 100%;
    height: 100%;
}

.animate {
    animation: scrollAnimation 10s infinite alternate;
}

@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-73%);
    }
}

.reset {
    transform: translateY(0);
}